<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <nav>
      <% include ../partials/header %>
    </nav>
    <div class="container">
      <h2>Check Out All The Glorious Wares</h2>
      <div class="products">
        <% products.forEach( function (product) { %>
          <div class="card">
            <h5> <%= product.name  %></h5>
            <a href="/products/<%=product.id%>">
              <img src="<%= product.img %>" alt="An image of <%= product.name %>" /></a>
              <h6>Price: $<%=product.price %></h6>
          </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
