<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../main.css">
    <title>Photo Album</title>
  </head>
  <body>
    <div class="container">
        <!--Nav Bar-->
        <nav class="navbar">
          <p class="navbar-brand">WikiPhoto</p>
          <a href="/" class="btn btn-default navbar-btn navbar-right">Home</a>
        </nav>
           <!--User info-->

        <div class="col-xs-6">
            <h2> Welcome, <%=user.name%> </h2>
        <br>
          <a href="/photos/new" class="add btn btn-default">Add Photos</a>
        <br>
          <% for(let i=0; i < user.photos.length; i++){%>
            <a href="/photos/<%=user.photos[i]._id%>" class="thumbnail">
              <img src="<%=user.photos[i].img%>"/>
            </a>
          <%}%>
        </div>



    <div class="col-xs-6">

      <h2>Account Info</h2>

      <br/>

      <section class="account-info col-xs-4 col-xs-offset-2">
            <ul>
                  <li>Username: <%=user.username%></li>
                  <li>Email address: <%=user.email%></li>
                  <li>
                    <a href="/users/<%=user._id%>/edit">Edit</a>
                  </li>
                  <li>
                  <form action="/users/<%=user._id%>?_method=DELETE" method="post">
                  <input type="submit" value="Delete Account"/></form></li>
            </ul>
          </section>
        </div>
    </div>
  </body>
</html>
