<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Normalize CSS -->
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../main.css">
    <title>Photo Album</title>
  </head>
  <body>
    <div class="container">
        <!--Nav Bar-->
        <nav class="navbar">
          <p class="navbar-brand">Photo Site</p>
          <a href="/" class="btn btn-default navbar-btn navbar-right">Home</a>
        </nav>
           <!--User info-->

        <div class="welcome row">
            <h2 class="col-xs-8"> Welcome, <%=user.name%> </h2>


        <div class="account-info col-xs-4">
        <h2>Account Info</h2>

            <ul>
                  <li>Username: <%=user.username%></li>
                  <li>Email address: <%=user.email%></li>
                  <li>
                    <a href="/users/<%=user._id%>/edit">Edit</a>
                  </li>
                  <li>
                  <form action="/users/<%=user._id%>?_method=DELETE" method="post">
                  <input type="submit" value="Delete Account"/></form></li>
            </ul>

        </div>
        </div>
    </div>
  </body>
</html>
