<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Show Page for <%=author.name%></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/authors">Author Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2>Author Attributes:</h2>
				<ul>
					<li>Name: <%=author.name%></li>
				</ul>
			</section>
			<section>
				<h2>Articles Written By This Author:</h2>
				<ul>
					<% for(let i = 0; i < author.articles.length; i++){ %>
						<li><a href="/articles/<%=author.articles[i]._id%>"><%=author.articles[i].title%></a></li>
					<% } %>
				</ul>
			</section>
			<section>
				<a href="/authors/<%=author._id%>/edit">Edit</a>
			</section>
            <section>
				<form action="/authors/<%=author._id%>?_method=DELETE" method="post">
					<input type="submit" value="Delete Author"/>
				</form>
			</section>
		</main>
	</body>
</html>
