<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../main.css">
    <title>Photo Info</title>
  </head>
  <body>
    <div class="container">
      <!--Nav Bar-->
      <nav class="navbar">
        <p class="navbar-brand">WikiPhoto</p>
        <a href="/" class="btn btn-default navbar-btn navbar-right">Home</a>
      </nav>

      <!--Images-->
      <div class="row">
          <div class="col-xs-6">
            <a href="#" class="thumbnail">
              <img src="<%=photo.img%>"/>
            </a>
          </div>
          <form  action="/photos/<%=photo._id%>?_method=DELETE" method="post">
          <input class="btn btn-default" type="submit" value="Delete"/>
        </form>
        <div>
        <div class="col-xs-6">
            <h2>Photos by: <a href="/users/<%=user._id%>"><%=user.username%></a></h2>
            <a href="/photos/<%=photo._id%>/edit"><span class="glyphicon glyphicon-pencil"><span></a>
        </div>
      </div>

    </div>
  </body>
</html>
