<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <nav>

    </nav>
    <div class="container">
      <h2>Imagine the glory of being the proud owner of this fine product</h2>
        <div class="jumbo">
          <h3> <%= product.name  %></h3>
            <img src="<%= product.img %>" alt="An image of <%= product.name %>" class="jumbo-img" />
            <p><%=product.description %></p>
            <% if (product.qty <= 0) { %>
              <h4 class="out-of-stock"> OUT OF STOCK </h4>
            <% } else   { %>
            <h6>Only <%= product.qty %> remaining</h6>
            <form action="/products/<%=product.id%>/buy?_method=put" method="POST">
              <button class="buy-button">Buy</button>
            </form>
            <h4>Price: $<%=product.price %></h4>
            <% } %>
        </div>
        <div class="admin-actions">
          <a href="/products/<%=product.id%>/edit"><button type="button" name="button" class="edit-button">Edit</button></a>
          <form action="/products/<%=product.id%>?_method=DELETE" method="POST">
            <button class="delete-button">DELETE</button>
          </form>
        </div>
    </div>
  </body>
</html>
