<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./public/css/app.css" type="text/css">
    <meta charset="utf-8">
    <title>Friends</title>
  </head>
  <body>
    <h1> All About <%= friends.name %></h1>
    <p><%= friends.name %> is a <%= friends.age %> year old <%= friends.job %>, and lives in <%= friends.home %>.</p>
  </body>
</html>
